@import "tailwindcss";
body {
    font-family: "Rubik", sans-serif;
}
.step-img-box::before {
    width: 60%;
    /* height: 60%; */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
        content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
        content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-inner img {
    color: #e67e22;
}