@import "tailwindcss";
body {
    font-family: "Rubik", sans-serif;
}
.step-img-box::before {
    width: 60%;
    /* height: 60%; */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
        content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
        content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cta-image{
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url(../src/assets/signupPhoto/eating.jpg);
}
html {
  scroll-behavior: smooth;
}
.pricingCard::after {
        content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    background-color: #ffd43b;
    padding: 8px 80px;
    transform: rotate(45deg);
}